{
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  org.clojars.gnzh/feedparser-clj {:mvn/version "0.6.1"}
  clojure.java-time/clojure.java-time {:mvn/version "0.3.3"}
  com.xtdb/xtdb-core {:mvn/version "1.22.0"}
  com.xtdb/xtdb-rocksdb {:mvn/version "1.22.0"}
  com.taoensso/timbre {:mvn/version "5.2.1"}
  com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}
 }

 :paths ["src" "test"]

 :aliases
 {
  :project/run {:exec-fn incidents.core/-main}
  }
}
