body {
    font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
    font-size: 18pt;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    width: 90%;
    min-width: 640px;
    background: white;
    padding-left: 1ex;
    padding-right: 1ex;
}
